.appNavLink {
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0 8px;
  text-decoration: none;
  transition: color 160ms ease-out;
}

.appNavLink:hover {
  color: var(--primary-color);
}

.appNavLinkSelected {
  color: var(--primary-color);
}
