.app {
  --primary-color: #1976d2;
}

.title {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0 8px;
}

.header {
  display: flex;
  padding: 8px 0;
}

.header__title {
  color: var(--primary-color);
}

.nav {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 8px;
}

.nav__link {
  color: black;
  font-size: 1.5rem;
  padding: 0 8px;
  text-decoration: none;
  transition: color 160ms ease-out;
}

.nav__link:hover {
  color: var(--primary-color);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0 8px;
}

.list__item {
  align-items: center;
  display: flex;
  height: 48px;
}

.item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 8px;
}

.item__title {
  color: var(--primary-color);
  text-decoration: none;
}

.item__author {
  opacity: 0.8;
  font-size: 0.8rem;
}

.item__points {
  text-align: center;
  width: 48px;
}
