.list {
  list-style-type: none;
  margin: 0;
  padding: 0 8px;
}

.listItem {
  align-items: center;
  display: flex;
  min-height: 48px;
  padding: 4px 0;
}

.itemContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 8px;
}

.itemSubtitle {
  opacity: 0.8;
  font-size: 0.8rem;
}

.itemLink {
  color: var(--primary-color);
  text-decoration: none;
}
